################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CollaboratorRegister
/src/CollaboratorRegisterApi/bin/Debug/net5.0
/src/CollaboratorRegisterApi/obj
/test/CollaboratorRegisterTest/bin/Debug/net5.0
/test/CollaboratorRegisterTest/obj
/infra/database/Database/Database.dbmdl
/infra/database/Database/Database.jfm
/infra/database/Database/obj
/infra/database/Database/bin