################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CollaboratorRegister
/src/CollaboratorRegisterApi/bin/Debug/net5.0
/src/CollaboratorRegisterApi/obj
/test/CollaboratorRegisterTest/bin/Debug/net5.0
/test/CollaboratorRegisterTest/obj
